[submodule "lib/libmodbus"]
	path = lib/libmodbus
	url = https://github.com/stephane/libmodbus
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/sqlite"]
	path = lib/sqlite
	url = https://github.com/fnc12/sqlite_orm.git
